# Supported devices

> [!NOTE]  
> **Z2M page** usually represents a collection of devices.  
> Even if they work the same, rebranded versions have different internals and pinouts  
> (therefore requiring custom builds).  

> [!IMPORTANT]  
> **Zigbee Manufacturer** is the most reliable unique Tuya device identifier.  
> **If the TZ3000 id of your device is not on this list, it requires [contribute/porting.md](/docs/contribute/porting.md)!**  
>
> For devices that contain a **supported Tuya Zigbee module** (ZTU, ZT2S, ZT3L), porting is relatively simple.  
> It consists of tracing (or guessing) the **board pinout**, adding an entry in the `device_db.yaml` file and running the build action.  

**Also read:** [recommended.md](./recommended.md) & [not_recommended.md](./not_recommended.md)  

### Legend

| Symbol | Meaning              |                        |                      |                  |
| :----: | -------------------- | ---------------------- | -------------------- | ---------------- |
|   🚧   | `🟩 Fully supported` | `🟨 Mostly supported`  | `🟧 In progress`     | `🟥 Unsupported` |
|   📦   | `✔️ Build available` | `❌ Build unavailable` |                      |                  |
|   ⚡   | `🔌 Mains-powered`   | `🔋 Battery-powered`   | `🔱 USB-powered`     |  `❓ Unknown`    |

### Device list

| 🚧 | 📦 | ⚡ | Zigbee Manufacturer | Name 🔗 Z2M page | Threads | Status |
| -- | -- | -- | :-----------------: | ---------------- | ------- | ------ |
{% for device in devices %}
  {% set manufacturer = "`" ~ (device.tuya_manufacturer_name or "    unknown     ") ~ "`" %}
  {% set z2m_name = device.override_z2m_device or device.stock_converter_model %}
  {% set z2m_link = "(https://www.zigbee2mqtt.io/devices/" ~ (z2m_name | replace(" ", "_")) ~ ".html)" %}
  {% set human_name = "[" ~ device.human_name ~ "]" ~ z2m_link %}
  {% set info = device.info %}
  {% set issue = device.github_issue and ("[link](" ~ device.github_issue ~ ")") or "-" %}
  {% if device.status == "fully_supported" %}
    {% set color = "🟩" %}
  {% elif device.status == "mostly_supported" %}
    {% set color = "🟨" %}
  {% elif device.status == "in_progress" %}
    {% set color = "🟧" %}
  {% elif device.status == "unsupported" %}
    {% set color = "🟥" %}
  {% endif %}
  {% if device.build %}
    {% set build = "✔️" %}
  {% else %}
    {% set build = "❌" %}
  {% endif %}
  {% if device.power == "mains" %}
    {% set power = "🔌" %}
  {% elif device.power == "usb" %}
    {% set power = "🔱" %}
  {% set batteries = ["AA", "AAA", "CR2016", "CR2025", "CR2032", "CR2450", "LR23A", "18650"] %}
  {% elif device.power|upper in batteries %}
    {% set power = "🔋" %}
  {% else %}
    {% set power = "❓" %}
  {% endif %}
| {{color}} | {{build}} | {{power}} | {{manufacturer}}  | {{human_name}} |  {{issue}} | {{info}} | 
{% endfor %}