# Supported devices

> [!NOTE]  
> **Z2M page** usually represents a collection of devices.  
> Even if they work the same, rebranded versions have different internals and pinouts  
> (therefore requiring custom builds).  

> [!IMPORTANT]  
> **Zigbee Manufacturer** is the most reliable unique Tuya device identifier.  
> **If the TZ3000 id of your device is not on this list, it requires [contribute/porting.md](/docs/contribute/porting.md)!**  
>
> For devices that contain a **supported Tuya Zigbee module** (ZTU, ZT2S, ZT3L), porting is relatively simple.  
> It consists of tracing (or guessing) the **board pinout**, adding an entry in the [`device_db.yaml`](/device_db.yaml) file and running the build action.  

**Also read:** [recommended.md](./recommended.md) & [not_recommended.md](./not_recommended.md)  

### Legend

| Symbol | Meaning  |                    |                      |                    |                |           |
| :----: | ---------| ------------------ | -------------------- | ------------------ | -------------- | ----------|
|   🚧   | Status   | 🟩 Fully supported | 🟨 Mostly supported  | 🟧 In progress     | 🟥 Unsupported |           |
|   📦   | Build    | ✔️ Available       | ❌ Unavailable       |                    |                |           |
|   💡   | Category | `M` Module         | `S` Switch           | `O` Outlet         | `R` Remote     | `B` Board | 
|   ⚡   | Power    | 🔌 Mains           | 🔋 Battery           | 🔱 USB             |  ❓ Unknown    |           |

<!-------------------------------------------------------------------
  This page (`supported.md`) is generated. 
  
  Do not edit it directly! Instead, edit:
  - `device_db.yaml`             - add or edit devices
  - `supported_devices.md.jinja` - update the template
  - `make_supported_devices.py`  - update generation script

  Generate with: `make update_supported_devices`
-------------------------------------------------------------------->

### Device list

| 🚧 | 📦 | 💡 | ⚡ | Zigbee Manufacturer | Name 🔗 Z2M page | Store | Threads | Status |
| -- | -- | -- | -- | :-----------------: | ---------------- | ----: | ------: | ------ |
{% for device in devices %}
  {% set manufacturer = "`" ~ (device.tuya_manufacturer_name or "    unknown     ") ~ "`" %}
  {% set z2m_name = device.override_z2m_device or device.stock_converter_model %}
  {% set z2m_link = "(https://www.zigbee2mqtt.io/devices/" ~ (z2m_name | replace(" ", "_")) ~ ".html)" %}
  {% set human_name = "[" ~ device.human_name ~ "]" ~ z2m_link %}
  {% set info = device.info %}
  {% if device.threads %}
    {% if device.threads is string %}
      {% set threads_links = [device.threads] %}
    {% else %}
      {% set threads_links = device.threads %}
    {% endif %}
    {% set threads_list = [] %}
    {% for url in threads_links %}
      {% set num = url.split("/")[-1] | int %}
      {% set num_str = "`#%03d`" | format(num) %}
      {% set _ = threads_list.append("[" ~ num_str ~ "](" ~ url ~ ")") %}
    {% endfor %}
    {% set threads = threads_list | join(" ") %}
  {% else %}
    {% set threads = " " %}
  {% endif %}
  {% if device.store %}
    {% if device.store is string %}
      {% set store_links = [device.store] %}
    {% else %}
      {% set store_links = device.store %}
    {% endif %}
    {% set store_list = [] %}
    {% for url in store_links %}
      {% if "aliexpress" in url %}
        {% set label = "`AlEx`" %}
      {% elif "amazon" in url %}
        {% set label = "`amzn`" %}
      {% elif "moes" in url %}
        {% set label = "`Moes`" %}
      {% elif "bseed" in url %}
        {% set label = "`BSEED`" %}
      {% else %}
        {% set label = "`Store`" %}
      {% endif %}
      {% set _ = store_list.append("[" ~ label ~ "](" ~ url ~ ")") %}
    {% endfor %}
    {% set store = store_list | join(" ") %}
  {% else %}
    {% set store = " " %}
  {% endif %}
  {% if device.status == "fully_supported" %}
    {% set color = "🟩" %}
  {% elif device.status == "mostly_supported" %}
    {% set color = "🟨" %}
  {% elif device.status == "in_progress" %}
    {% set color = "🟧" %}
  {% elif device.status == "unsupported" %}
    {% set color = "🟥" %}
  {% endif %}
  {% set category = '`' ~ device.category[0]|upper ~ '`' %}
  {% if device.build %}
    {% set build = "✔️" %}
  {% else %}
    {% set build = "❌" %}
  {% endif %}
  {% set batteries = ["AA", "AAA", "CR2016", "CR2025", "CR2032", "CR2450", "LR23A", "18650"] %}
  {% if device.power == "mains" %}
    {% set power = "🔌" %}
  {% elif device.power == "USB" %}
    {% set power = "🔱" %}
  {% elif device.power|upper in batteries %}
    {% set power = "🔋" %}
  {% else %}
    {% set power = "❓" %}
  {% endif %}
| {{color}} | {{build}} | {{category}} | {{power}} | {{manufacturer}}  | {{human_name}} | {{store}} | {{threads}} | {{info}} | 
{% endfor %}

Data from [`device_db.yaml`](/device_db.yaml)